<div class="container-fluid">
    <div class="row">
        <div class="card shadow-sm  mb-5 bg-body rounded border border-1 p-3" style="overflow-y: scroll; height: 500px;">
            <h5>Datos del Codeudor:</h5>
            <br>
            <form class="row g-3 was-validated" >
                <div class="col-md-4">
                    <label for="" class="form-label">Nombres: </label>
                    <input type="text" name="nombres" class="form-control" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Apellidos: </label>
                    <input type="text" name="apellidos" class="form-control" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Cedula Ciudadania: </label>
                    <input type="number" name="cedula" class="form-control" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Estado Civil: </label>
                    <input type="text" name="estado_civil" class="form-control" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Direccion: </label>
                    <input type="text" name="direccion" class="form-control" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Celular: </label>
                    <input type="tel" name="celular" class="form-control" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Email: </label>
                    <input type="email" name="email" class="form-control" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Empresa donde Labora: </label>
                    <input type="text" name="empresa" class="form-control" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Direccion Empresa: </label>
                    <input type="text" name="direccion_empresa" disabled class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Cargo: </label>
                    <input type="text" name="cargo" class="form-control" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Tiempo en el Cargo (meses): </label>
                    <input type="text" name="tiempo_servicio" class="form-control" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Salario (mensual): </label>
                    <input type="number" class="form-control" name="salario" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Otros ingresos (fuente): </label>
                    <input type="text" class="form-control" name="otros_ingresos" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Valor Otros Ingresos (cantidad): </label>
                    <input type="text" class="form-control" disabled name="valor_otros_ingresos">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Tipo de Vivienda</label>
                    <input type="text" class="form-control" disabled name="tipo_casa">

                </div>

                <div class="col-md-4">
                    <label for="" class="form-label">Valor Alquiler</label>
                    <input type="number" class="form-control" name="valor_alquiler" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Nombre Propietario</label>
                    <input type="text" class="form-control" name="propietario" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Telefono</label>
                    <input type="number" class="form-control" name="telefono_casa" disabled>
                </div>


                <div class="col-md-3">
                    <label for="" class="form-label">Nombre Conyuge</label>
                    <input type="text" class="form-control" name="nombre_conyuge" disabled>
                </div>
                <div class="col-md-3">
                    <label for="" class="form-label">Empresa donde Trabaja</label>
                    <input type="text" class="form-control" name="trabajo_conyuge" disabled>
                </div>
                <div class="col-md-3">
                    <label for="" class="form-label">Direccion</label>
                    <input type="text" class="form-control" disabled name="direccion_trabajo_conyuge">
                </div>
                <div class="col-md-3">
                    <label for="" class="form-label">Telefono</label>
                    <input type="number" class="form-control" disabled name="telefono_trabajo_conyuge">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Nombre Pariente</label>
                    <input type="text" class="form-control" name="nombre_pariente" disabled>
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Direccion</label>
                    <input type="text" class="form-control" disabled name="direccion_pariente">
                </div>
                <div class="col-md-4">
                    <label for="" class="form-label">Telefono</label>
                    <input type="tel" class="form-control" name="telefono_pariente" disabled>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 offset-md-9 col-sm-3  offset-sm-9">

                        <button class="btn btn-primary conti">Guardar y Continuar</button>

                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>