<div class="row">
    <div class="col-md-10 col-sm-10 col-xs-10 offset-md-1 shadow-sm  mb-5 bg-body rounded border border-1 p-3">
        <h5>Documentos:</h5>
        <br>
        <form action="" class="row g-3">

            <hr>
            <h5>Comprador</h5>
            <div class="col-md-12">
                <label for="" class="form-label">Cedula Ciudadania: </label>
                <input type="file" name="frente" (change)="capturarFrenteCedulaCliente($event)"
                    class="form-control d-block d-sm-block d-md-none" capture="camera">
                <div id="emailHelp" class="form-text d-block d-sm-block d-md-none">
                    <p>Por favor debes tomar una foto de la cedula ciudadania por el frente.
                </div>

                <input type="file" name="respaldo" (change)="capturarRespaldoCedulaCliente($event)"
                    class="form-control d-block d-sm-block d-md-none" capture="camera">
                <div id="emailHelp" class="form-text d-block d-sm-block d-md-none">
                    <p>Por favor debes tomar una foto de la cedula ciudadania por el Respaldo.
                </div>
            </div>

            <div id="emailHelp" class="form-text d-none d-sm-none d-md-block">
                <p>Por favor debes tomar una foto de la cedula ciudadania del comprador por las dos caras.
            </div>
            <div>

                <app-cedula></app-cedula>
            </div>

            <div class="col-md-12 d-block d-sm-block d-md-none">
                <label for="" class="form-label">Foto: </label>
                <input type="file" (change)="capturarFoto($event)" class="form-control" capture="camera">
                <div id="emailHelp" class="form-text">
                    <p>Por favor debes tomar una foto de tu rostro.
                </div>
            </div>
            <hr>
            <h5>Codeudor</h5>
            <div id="emailHelp" class="form-text d-none d-sm-none d-md-block">
                <p>Por favor debes tomar una foto de la cedula ciudadania del codeudor por las dos caras.
            </div>
            <div class="col-md-12">
                <label for="" class="form-label">Cedula Ciudadania: </label>
                <input type="file" name="frente" (change)="capturarFrenteCedulaCodeudor($event)"
                    class="form-control d-block d-sm-block d-md-none" capture="camera">
                <div id="emailHelp" class="form-text d-block d-sm-block d-md-none">
                    <p>Por favor debes tomar una foto de la cedula ciudadania por el frente.
                </div>

                <input type="file" class="form-control d-block d-sm-block d-md-none"
                    (change)="capturarRespaldoCedulaCodeudor($event)" name="respaldo" capture="camera">
                <div id="emailHelp" class="form-text d-block d-sm-block d-md-none">
                    <p>Por favor debes tomar una foto de la cedula ciudadania por el Respaldo.
                </div>
            </div>

            <div>
                <app-cedula-codeudor></app-cedula-codeudor>

            </div>

            <hr>
            <label for="" class="form-label  d-none d-sm-none d-md-block">Foto: </label>
            <div id="emailHelp" class="form-text d-none d-sm-none d-md-block">
                <p>Por favor debes tomar una foto de tu rostro, para verificar tu identidad.
            </div>
            <app-photo></app-photo>
            <div class="col-md-12 ">
                <div class="form-check form-switch mt-3 border border-1 bg-light ">
                    <input [checked]="false" [(ngModel)]="docsMovil.dataCredito" name="dataCredito"
                        class="form-check-input check" type="checkbox" id="">
                    <p>Autorizo de manera previa, expresa, informada e inequívoca a GMJ HOGAR S.A.S., o a quien
                        represente sus derechos,
                        u ostente en el futuro la calidad de acreedor de las obligaciones a cargo del cliente, para
                        consultar,
                        analizar el riesgo crediticio, realizar reportes positivos y/o negativos, procesar, solicitar y
                        divulgar toda información referente a mi comportamiento comercial,
                        financiero y crediticio, manejo de cuenta (s) corriente (s) bancaria (s) y en general,
                        cumplimiento de obligaciones, ante cualquier operador de información,
                        incluyendo, pero sin limitarse a: i) centrales de riesgo legalmente constituidas
                        ii) agencias de información comercial y, iii) demás administradoras de bases de datos
                        comerciales, financieras y crediticias.
                        La presente autorización se extiende a las operadoras de información.
                    </p>
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="form-check form-switch mt-3 border border-1 bg-light">
                    <input [checked]="false" [(ngModel)]="docsMovil.datosPersonales" name="datosPersonales"
                        class="form-check-input check " type="checkbox" id="">
                    <p>Autorizo el tratamiento sobre mis datos personales, 
                        en los términos de la <a class="tdp" [routerLink]="'/tratamiento-datos-personales'">Política de privacidad y protección de datos personales</a> y <a class="tdp" >los Términos y Condiciones.</a>
                        
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-5 offset-md-8 col-sm-3  offset-sm-9">
                    <button *ngIf="valid" [routerLink]="'/solicitud-credito/'+solicitudId+'/referencias-personales'"
                        class="btn btn-primary conti me-2">Regresar</button>
                    <button *ngIf="valid" (click)="guardarSeccion()"
                        class="btn btn-primary conti d-none d-sm-none d-md-block">Guardar
                        Sección</button>
                    <button *ngIf="valid" (click)="guardarSeccionMovil()"
                        class="btn btn-primary conti d-block d-sm-block d-md-none">Guardar
                        Sección</button>
                    <button *ngIf="!valid" (click)="enviarSolicitud()"
                        class="btn btn-primary conti d-none d-sm-none d-md-block">Guardar Todo y
                        Enviar</button>
                    <button *ngIf="!valid" (click)="enviarSolicitudMovil()"
                        class="btn btn-primary conti d-block d-sm-block d-md-none">Guardar Todo y
                        Enviar</button>
                </div>
            </div>
        </form>

    </div>
</div>