<div class="row">
    <div class="col-md-10 col-sm-10 col-xs-10 offset-md-1 shadow-sm  mb-5 bg-body rounded border border-1 p-3">
        <h5>Referencias Personales: </h5>
        <br>
        <form action="" class="row g-3">
            <hr>
            <h5 class="text-center">Comprador</h5>
            <h6>Referencias :</h6>
            <div class="col-md-6">
                <label for="" class="form-label">Nombres: </label>
                <input type="text" [(ngModel)]="referenciaComprador.nombre" name="nombre" class="form-control">
            </div>

            <div class="col-md-6">
                <label for="" class="form-label">Telefono: </label>
                <input type="number" [(ngModel)]="referenciaComprador.telefono" name="telefono" class="form-control">
            </div>
            <div class="row mt-2">
                <div class="col-md-5 offset-md-9">
                    <button (click)="agregarReferenciaComer()" class="btn btn-primary conti">Agregar Refenecia</button>
                </div>
            </div>
            <hr>
            <div class="row" #asTbl style="display: none;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <table class="table" *ngIf="referenciasPersonalesCliente.length > 0">
                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Telefono</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let r of referenciasPersonalesCliente">
                                    <td>{{r.id}}</td>
                                    <td>{{r.nombre}}</td>
                                    <td>{{r.telefono}}</td>
                                    <td><button (click)="eliminarItemCliente(r.id)" class="btn btn-primary conti"><i
                                                class="fas fa-trash"></i></button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <hr>    
            <h5 class="text-center">Codeudor</h5>
            <h6>Referencia :</h6>
            <div class="col-md-6">
                <label for="" class="form-label">Nombres: </label>
                <input type="text" [(ngModel)]="referenciaCodeudor.nombre" name="nombre" class="form-control">
            </div>

            <div class="col-md-6">
                <label for=""   class="form-label">Telefono: </label>
                <input type="number" class="form-control" [(ngModel)]="referenciaCodeudor.telefono" name="telefono">
            </div>
            <div class="row mt-2">
                <div class="col-md-5 offset-md-9">
                    <button (click)="agregarReferenciaComerCodeu()" class="btn btn-primary conti">Agregar Refenecia</button>
                </div>
            </div>
            <hr>
            <div class="row" #asTbl2 style="display: none;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <table class="table" *ngIf="referenciasPersonalesCodeudor.length > 0">
                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Telefono</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let r of referenciasPersonalesCodeudor">
                                    <td>{{r.id}}</td>
                                    <td>{{r.nombre}}</td>
                                    <td>{{r.telefono}}</td>
                                    <td><button (click)="eliminarItemCodeudor(r.id)" class="btn btn-primary conti"><i
                                                class="fas fa-trash"></i></button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-md-5 offset-md-8 col-sm-3  offset-sm-9">
                    <button (click)="goBack()" 
                        class="btn btn-primary conti me-2">Regresar</button>
                    <button (click)="guardarYContinuar()" 
                        class="btn btn-primary conti">Guardar y Continuar</button>
                </div>
            </div>
        </form>

    </div>
</div>