<div class="col-md-12">
    <nav class="navbar navbar-expand-lg shadow p-3 mb-5 bg-body rounded  nav">
        <div class="container-fluid">

            <a><img src="../assets/logo.svg" alt="" srcset=""></a>


        </div>

    </nav>

</div>

<div class="container">
    <div class="row">
        <h2>POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES</h2>
        <br>
        <br>
        <br>
        <br>
        <h4>1. OBJETIVO</h4>
        <p>El objetivo de la presente Política de Privacidad y Protección de Datos Personales, (en adelante “Política de
            Privacidad”), es dar cumplimiento a la Ley Estatutaria No. 1581 de 2012, su Decreto Reglamentario 1074 de
            2015 (Capítulo 25) y demás normas que rigen la Protección de Datos Personales, o aquellas que las
            complementen, sustituyan, modifiquen o deroguen y en especial, garantizar el derecho de Hábeas Data de los
            Titulares de Datos Personales.</p>
        <br><br><br>
        <h4>2. ALCANCE</h4>
        <p>La presente Política de Privacidad es aplicable tanto a GMJ HOHAR S.A.S. en calidad de Responsable del
            Tratamiento y a sus empleados directos e indirectos, como a todas aquellas terceras personas naturales o
            jurídicas a quienes Transmita o Transfiera Datos Personales de los Titulares que comprenden los Grupos de
            Interés del Responsable del Tratamiento, cuando estos realicen algún Tratamiento sobre los mismos.</p>
        <br><br><br>
        <h4>3. IDENTIFICACIÓN DEL RESPONSABLE DEL TRATAMIENTO</h4>
        <table class="table table-bordered" style="width: 500px;height: 200px;margin-left: 30px;">
            <tbody>
                <tr>
                    <td>RAZÓN SOCIAL</td>
                    <td>GMJ HOGAR S.A.S.</td>
                </tr>
                <tr>
                    <td>DOMICILIO</td>
                    <td>MEDELLÍN</td>
                </tr>
                <tr>
                    <td>DIRECCIÓN</td>
                    <td>CALLE 51 No. 53-99</td>
                </tr>
                <tr>
                    <td>CORREO ELECTRÓNICO</td>
                    <td>servicioalcliente@almaceneselectrohogar.com.co</td>
                </tr>
                <tr>
                    <td>TELÉFONO FIJO</td>
                    <td>4-5404350</td>
                </tr>
            </tbody>
        </table>
        <br><br><br>
        <h4>4. DEFINICIONES</h4>
        <p>Para los efectos de la presente Política de Privacidad, se entenderá por:
            <b>ADOLESCENTE: </b>Personas entre 12 y 18 años de edad (Código de la Infancia y de la Adolescencia,
            artículo 3).
            <b>AUTORIZACIÓN:</b> Consentimiento previo, expreso e informado del Titular de Datos Personales para llevar
            a cabo el Tratamiento de sus datos personales, la cual puede ser recolectada de manera (i) escrita, (ii)
            oral o (iii) mediante conductas inequívocas, que permitan concluir de manera razonable que este otorgó la
            autorización.
            <b>AVISO DE PRIVACIDAD: </b>Documento físico, electrónico o en cualquier otro formato generado por el
            Responsable del Tratamiento, que se pone a disposición del Titular para el Tratamiento de sus datos
            personales. En el Aviso de Privacidad se comunica al Titular la información relativa a la existencia de las
            políticas de tratamiento de información que le serán aplicables, la forma de acceder a las mismas y las
            características del tratamiento que se pretende dar a los Datos Personales.
            <b> BASE DE DATOS:</b> Conjunto organizado de datos personales físico o electrónico (digital) que sea objeto
            de Tratamiento manual o automatizado.
            <b> DATOS PERSONALES:</b> Cualquier información vinculada o que pueda asociarse a una o varias personas
            naturales determinadas o determinables. La naturaleza de los Datos Personales puede ser pública,
            semiprivada, privada o sensible.
            <b> DATO PRIVADO:</b> Es el dato que por su naturaleza íntima o reservada sólo es relevante para el Titular.
            <b>DATO PÚBLICO:</b> Es el dato calificado como tal según los mandatos de la ley o de la Constitución
            Política y aquel que no sea semiprivado, privado o sensible. Son públicos, entre otros, los datos relativos
            al estado civil de las personas, a su profesión u oficio, a su calidad de comerciante o de servidor público
            y aquellos que puedan obtenerse sin reserva alguna. Por su naturaleza, los datos públicos pueden estar
            contenidos, entre otros, en registros públicos, documentos públicos, gacetas y boletines oficiales, que no
            estén sometidos a reserva.
            <b>DATOS SENSIBLES:</b> Son aquellos que afectan la intimidad del Titular de Datos Personales o cuyo uso
            indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la
            orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones
            sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los
            derechos y garantías de partidos políticos de oposición así como los datos relativos a la salud, a la vida
            sexual y los datos biométricos (huella dactilar, el iris del ojo, voz, forma de caminar, palma de la mano o
            los rasgos del rostro, fotografías, videos, entre otros).
            A los Datos Personales de Niños, Niñas y/o Adolescentes, se les aplicarán las mismas normas y procedimientos
            que a los Datos Sensibles, y no se le dará Tratamiento alguno que pueda vulnerar o amenazar su desarrollo
            físico, mental y emocional.
            <b>DATOS SEMIPRIVADOS:</b> Son aquellos que no tienen una naturaleza íntima, reservada, ni pública y cuyo
            conocimiento o divulgación puede interesar no solo a su titular, sino a un grupo de personas o a la sociedad
            en general. Se entiende por dato semiprivado, entre otros, la información relacionada con seguridad social y
            con el comportamiento financiero y crediticio.
            <b>DERECHO DE HABEAS DATA:</b> Conforme a lo dispuesto por el artículo 15 de la Constitución Política de
            Colombia, es el derecho que tienen todas las personas a conocer, actualizar y rectificar las informaciones
            que se hayan recogido sobre ellas en bancos de datos y en archivos de entidades públicas y privadas.
            <b>ENCARGADO DEL TRATAMIENTO:</b> Persona natural o jurídica, pública o privada, que por sí misma o en
            asocio con otros, realice el Tratamiento de Datos Personales por cuenta del Responsable del Tratamiento.
            Para los efectos de la presente Política de Privacidad, se entienden como Encargados del Tratamientos los
            reportados en el Registro Nacional de Bases de Datos.
            <b>GRUPOS DE INTERÉS:</b> Para los efectos de la presente Política de Privacidad, se entenderán como Grupos
            de Interés todos los grupos de personas naturales respecto de las cuales el Responsable del Tratamiento y/o
            los Encargados del Tratamiento realicen algún Tratamiento de Datos Personales.
            <b>NIÑO O NIÑA:</b> Personas entre los 0 y 12 años (Código de la Infancia y de la Adolescencia, artículo 3).
            OFICIAL DE PROTECCIÓN DE DATOS PERSONALES: Persona o Área Responsable de atender las Quejas y Reclamos que
            se presenten en materia de Protección de Datos Personales, designada en la Política de Privacidad.
            <b>PQR´S:</b> Peticiones, consultas y reclamos en materia de Protección de Datos Personales.
            <b>PROTECCIÓN DE DATOS:</b> son todas las medidas técnicas, humanas y administrativas que sean necesarias
            para otorgar seguridad a los registros evitando su adulteración, pérdida, consulta, uso o acceso no
            autorizado o fraudulento.
            <b>RESPONSABLE DEL TRATAMIENTO:</b> Persona natural o jurídica, pública o privada, que por sí misma o en
            asocio con otros, decida sobre la Base de Datos y/o el Tratamiento de los datos.
            Para los efectos de la presente Política de Privacidad, se entiende como Responsable del Tratamiento GMJ
            HOGAR S.A.S.
            <b>TITULAR:</b> Para los efectos de la Ley 1266 de 2008, es la persona natural o jurídica a quien se refiere
            la información que reposa en un banco de datos y sujeto del derecho de hábeas data y demás derechos y
            garantías consagrados en dicha Ley y las normas que la complementen, modifiquen, sustituyan o deroguen. Para
            los efectos de la Ley 1581 de 2012, es la persona natural cuyos datos personales sean objeto de Tratamiento.
            <b>TRANSFERENCIA:</b> La Transferencia de datos tiene lugar cuando el Responsable y/o Encargado del
            Tratamiento de datos personales, ubicado en Colombia, envía la información o los datos personales a un
            receptor, que a su vez es Responsable del Tratamiento y se encuentra dentro o fuera del país.
            <b>TRANSMISIÓN:</b> Tratamiento de Datos Personales que implica la comunicación de los mismos dentro o fuera
            del territorio de la República de Colombia cuando tenga por objeto la realización de un Tratamiento por el
            Encargado por cuenta del Responsable.
            <b>TRATAMIENTO:</b> Cualquier operación o conjunto de operaciones sobre datos personales, tales como la
            recolección, almacenamiento, actualización, uso, circulación, Transferencia, Transmisión o supresión.
        </p>
        <br><br><br>
        <h4>5. PRINCIPIOS RECTORES</h4>
        <p>Los siguientes, son los Principios Rectores en materia de Protección de Datos Personales, y aplicarán al
            Tratamiento que realicen el Responsable de Tratamiento, sus empleados y todas aquellas terceras personas
            naturales o jurídicas a quienes Transmita o Transfiera Datos Personales de los Titulares que comprenden sus
            Grupos de Interés, cuando estos realicen algún Tratamiento sobre los mismos:</p>

        <p><b>PRINCIPIO DE LEGALIDAD:</b> El Tratamiento a los Datos Personales se realizará de acuerdo con los
            requerimientos legales establecidos en la Ley Estatutaria 1581 de 2012 y sus decretos reglamentarios.
            <b>PRINCIPIO DE FINALIDAD:</b> El Tratamiento de los Datos Personales debe obedecer a una finalidad legítima
            de acuerdo con la constitución y la Ley, la cual debe ser informada al Titular.
            <b>PRINCIPIO DE LIBERTAD:</b> El Tratamiento sólo puede llevarse a cabo con el consentimiento, previo,
            expreso e informado del Titular. Los datos personales no podrán ser obtenidos o divulgados sin previa
            autorización, o en ausencia de mandato legal o judicial que releve el consentimiento. Quedan exceptuados de
            este principio los Datos Públicos, los cuales podrán ser objeto de Tratamiento sin que se requiera
            autorización del Titular, conforme a lo dispuesto por la Ley 1581 de 2012 y su Decreto Reglamentario 1074 de
            2015.
            <b>PRINCIPIO DE VERACIDAD O CALIDAD:</b> La información sujeta a Tratamiento debe ser veraz, completa,
            exacta, actualizada, comprobable y comprensible. Se prohíbe el Tratamiento de datos parciales, incompletos,
            fraccionados o que induzcan a error.
            <b>PRINCIPIO DE TRANSPARENCIA:</b> En el Tratamiento debe garantizarse el derecho del Titular a obtener en
            cualquier momento y sin restricciones, información acerca de la existencia de datos que le conciernan.
            <b>PRINCIPIO DE ACCESO Y CIRCULACIÓN RESTRINGIDA:</b> Los datos personales, salvo la información pública, no
            podrán estar disponibles en Internet u otros medios de divulgación o comunicación masiva, salvo que el
            acceso sea técnicamente controlable para brindar un conocimiento restringido sólo a los Titulares o terceros
            autorizados.
            <b>PRINCIPIO DE SEGURIDAD:</b> La información sujeta a Tratamiento, se deberá proteger mediante el uso de
            las medidas técnicas, humanas y administrativas que sean necesarias para otorgar seguridad a los registros,
            evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.
            <b>PRINCIPIO DE CONFIDENCIALIDAD:</b> Todas las personas que intervengan en el Tratamiento de datos
            personales, están obligadas a garantizar la reserva de la información, inclusive después de finalizada su
            relación con alguna de las labores que comprende el Tratamiento.
        </p>

        <br><br><br>
        <h4>6. TRATAMIENTOS A LOS CUALES SERÁN SOMETIDOS LOS DATOS PERSONALES Y SUS FINALIDADES</h4>
        <p>Para los efectos de la presente Política de Privacidad, el Responsable del Tratamiento directamente o a
            través de Encargados del Tratamiento, podrá recolectar, almacenar, usar, circular, actualizar, suprimir o
            realizar cualquier otro tipo de Tratamiento sobre los Datos Personales de sus Grupos de Interés, ajustándose
            en todo momento a lo dispuesto por las normas vigentes y para las finalidades que se describen a
            continuación:</p>
        <br>
        <h5>6.1. FINALIDADES GENERALES PARA EL TRATAMIENTO DE DATOS PERSONALES DE TODOS LOS GRUPOS DE INTERÉS</h5>
        <p>• Almacenamiento de información y/o Datos Personales en archivos físicos o servidores propios y/o de
            terceros, ubicados dentro o fuera del país, en países considerados por la Superintendencia de Industria y
            Comercio como seguros o aquellos que no lo sean, siempre y cuando los Encargados del Tratamiento que
            almacenen la información contengan políticas de confidencialidad, privacidad y protección y custodia de la
            información y se suscriba con estos un Contrato de Confidencialidad y Transmisión de Datos Personales. </p>
        <p> • Registro de entrada y salida de documentos.</p>
        <p> • Análisis y elaboración de programas que generen un impacto social para los Grupos de Interés del
            Responsable del Tratamiento</p>
        <p> • Convocatoria y ejecución de programas, reuniones, capacitaciones y eventos, así como la conservación de
            registros documentales de los mismos, tales como listas de asistencia, fotografías, grabaciones de voz y/o
            videos.</p>
        <p> • Elaboración y materialización de encuestas y entrevistas. </p>
        <p> • Envío de comunicaciones relacionadas con las finalidades contenidas en la presente Política de Privacidad,
            el objeto social del Responsable del Tratamiento o aliados estratégicos, publicidad, marketing, promociones,
            eventos, comercialización y promoción de productos y/o servicios, concursos y campañas de fidelización,
            rifas, juegos y espectáculos, actualizaciones de contenido en el sitio web, alianzas y beneficios, a través
            de los datos de contacto profesionales, empresariales y/o personales de los Titulares, incluyendo, pero sin
            limitarse a teléfono fijo y/o móvil, correo físico y/o electrónico, mensajes de texto SMS y/o MMS, redes
            sociales, medios electrónicos y/o cualquier otro medio de comunicación.</p>
        <p> • Controles, estadísticas e históricos de las relaciones mantenidas con los Titulares de los diferentes
            Grupos de Interés.</p>
        <p> • Registro y control de acceso e ingreso a las instalaciones del Responsable del Tratamiento y monitoreo
            mediante video vigilancia y medidas de control de hurto de mercancía.</p>
        <p> • Soporte en procesos de auditorías internas y/o externas, revisorías fiscales, consultorías e
            implementación de planes de mejora.</p>
        <p> • Cumplimiento de normas vigentes.</p>
        <p> • Reportes a autoridades administrativas y judiciales competentes.</p>
        <p> • Atención de requerimientos realizados por autoridades administrativas y judiciales competentes.</p>
        <p> • Elaboración y presentación de demandas y denuncios ante las autoridades competentes, así como ejercer el
            derecho de defensa en cualquier proceso administrativo y/o judicial.</p>
        <p> • Cumplimiento a las obligaciones derivadas de los contratos suscritos entre el Responsable del Tratamiento
            y los Titulares, o con los contratantes o empleadores de estos.</p>
        <p> • Comunicaciones internas o externas.</p>
        <p> • Gestión financiera y contable, creación de terceros, y registro en las bases de datos del Responsable del
            Tratamiento </p>
        <p> • Remisión de información a los Titulares, relacionada con el objeto social del Responsable del Tratamiento
            o de sus aliados estratégicos.</p>
        <p> • Atención de PQR’s presentadas por los Titulares o por quienes acrediten legitimación para hacerlo.</p>
        <p> • Implementación de campañas para la actualización de información y/o Datos Personales.</p>
        <p> • Finalidades indicadas en la autorización otorgada por el Titular y/o en los Avisos de Privacidad.</p>

        <br><br><br>
        <h5>6.2. FINALIDADES PARA EL TRATAMIENTO DE DATOS PERSONALES DE ASPIRANTES, EMPLEADOS DIRECTOS E INDIRECTOS,
            ACTIVOS E INACTIVOS Y SUS FAMILIAS</h5>
        <p>• Recolección de hojas de vida directamente del Titular o de terceras personas naturales o jurídicas que las
            remitan, bien sea de manera independiente, o por Encargo del Responsable del Tratamiento.</p>
        <p>• Desarrollo del proceso de selección, análisis de hojas de vida, validación de referencias laborales y/o
            personales, entrevistas y pruebas médicas, psicotécnicas y de competencias que se requieran.</p>
        <p>• Conservación de hojas de vida y resultados de los procesos de selección para futuros procesos de
            vinculación de personal y/o por cumplimiento de norma legal vigente.
            • Vinculación laboral, suscripción de contratos laborales y/o de prestación de servicios, y asignación de
            funciones.
        </p>
        <p>• Registro de información de empleados directos e indirectos, activos e inactivos, pensionados y de sus
            familias, para el desarrollo de las actividades de afiliación y pago de seguridad social y parafiscales,
            nómina, primas y bonificaciones, vacaciones, reconocimiento de derechos pensionales y liquidaciones.</p>
        <p>• Actividades de clima, cultura organizacional y bienestar de los empleados directos e indirectos y sus
            familias.</p>
        <p>• Gestión de permisos, licencias y autorizaciones.</p>
        <p>• Gestión de sanciones, amonestaciones, llamadas de atención, descargos y despidos con o sin justa causa.</p>
        <p>• Cumplimiento de obligaciones del Responsable del Tratamiento, en virtud de las normas legales vigentes.</p>
        <p>• Capacitación y formación al personal directo e indirecto.</p>
        <p>• Evaluaciones de competencias y desempeño.</p>
        <p>• Descuentos al salario permitidos en normas vigentes, descuentos de nómina por concepto de préstamos y
            práctica y registro de embargos por requerimiento de autoridad competente.</p>
        <p>• Entrega de dotación.</p>
        <p>• Contratación con terceros de servicios que beneficien a los empleados directos e indirectos y sus familias.
        </p>
        <p>• Cumplimiento de las normas vigentes en temas de salud y seguridad en el trabajo y medio ambiente, entre
            otras, recopilación y análisis de Información de salud y perfil socio demográfico de los empleados directos
            e indirectos, activos e inactivos.</p>
        <p>• Reservas hoteleras, tiquetes aéreos o terrestres, entrega de vales de gasolina y peajes, viáticos y
            solicitud de vehículos, entre otros, en caso de traslado por parte de los empleados directos e indirectos.
        </p>
        <p>• Suministro de información a Contratistas y Proveedores, para la ejecución de los contratos suscritos entre
            estos y el Responsable del Tratamiento.</p>
        <p>• Control de horarios.</p>
        <p>• Creación y administración de usuarios y contraseñas para el ingreso a los diferentes aplicativos, equipos
            tecnológicos y de cómputo del Responsable del Tratamiento y cuentas de correo electrónico.</p>
        <p>• Creación y control de acceso y modificación de documentos almacenados en carpetas compartidas.</p>
        <p>• Identificación y seguimiento de riesgos en la salud y seguridad en el trabajo, ingresos y egresos de
            personal, nómina y ascensos.</p>
        <p>• Transferencia de comprobante de pago de aportes al sistema de seguridad social y parafiscales y constancia
            de capacitaciones realizadas a los colaboradores, remitida a los Contratantes del Responsable del
            Tratamiento, cuando se requiera para el pago de bienes y/o servicios prestados por éste último en calidad de
            Contratista y/o Proveedor.</p>

        <br><br><br>
        <h5>6.3. FINALIDADES PARA EL TRATAMIENTO DE DATOS PERSONALES DE CLIENTESY PROSPECTOS Y SUS COLABORADORES</h5>
        <p>• Análisis de perfiles, comportamiento y segmentación del mercado.</p>
        <p>• Ofrecimiento de bienes y/o servicios del Responsable del Tratamiento y/o de sus aliados estratégicos.</p>
        <p>• Estudios estadísticos de comportamiento de riesgo crediticio.</p>
        <p>• Consultas y reportes positivos y negativos de información comercial, financiera y crediticia a Operadores o
            Administradoras de Bases de Datos, Entidades Financieras y Crediticias y Centrales de Riesgo legalmente
            establecidas.</p>
        <p>• Verificación de datos y referencias.</p>
        <p>• Suscripción y ejecución de contratos.</p>
        <p>• Cumplimiento de obligaciones legales y contractuales.</p>
        <p>• Gestión de facturación.</p>
        <p>• Gestión de recuperación de cartera mediante el cobro persuasivo, extrajudicial y/o judicial.</p>
        <p>• Identificación de deudores y codeudores.</p>
        <p>• Gestión de clientes.</p>
        <p>• Transporte de mercancía.</p>
        <p>• Soporte y mantenimiento de bienes y/o servicios prestados por el Responsable del Tratamiento y/o sus
            aliados estratégicos.</p>
        <p>• Fidelización de clientes</p>
        <p>• Cesión y/o compraventa de información personal, para el ofrecimiento de bienes y/o servicios de terceras
            personas naturales y/o jurídicas, aliados estratégicos y/o para fines estadísticos y de análisis de
            mercados.</p>
        <p>• Transmisión y Transferencia de datos de contacto a los Encargados del Tratamiento, Contratistas y
            Proveedores y/o Aliados estratégicos, para que Traten los Datos Personales del Titular, para los fines
            indicados en la Presente Política de Privacidad.</p>
        <p>• Evaluación de la calidad delos bienes y/o servicios prestados por el Responsable del Tratamiento.</p>

        <br><br><br>
        <h5> 6.4. FINALIDADES PARA EL TRATAMIENTO DE DATOS PERSONALES DE PROVEEDORES Y CONTRATISTAS Y SUS COLABORADORES
        </h5>
        <p>• Solicitud, recolección y análisis de cotizaciones y/u ofertas.</p>
        <p>• Invitaciones a participar en licitaciones y/o contratación directa.</p>
        <p>• Desarrollo de procesos de licitación y/o contratación directa de productos y/o servicios.</p>
        <p>• Solicitud de referencias y certificados de terceros.</p>
        <p>• Verificación de requisitos jurídicos, técnicos y financieros.</p>
        <p>• Adjudicación de contratos, contratación directa y/o emisión de órdenes de compra y/o de servicios, para la
            adquisición de bienes y/o servicios.</p>
        <p>• Cumplimiento de obligaciones legales y contractuales.</p>
        <p>• Gestión de pago.</p>
        <p>• Evaluación de los Contratistas y Proveedores.</p>
        <p>• Concesión y gestión de permisos, licencias y autorizaciones en el marco de los contratos suscritos.</p>
        <p>• Contacto con los Proveedores y Contratistas o sus colaboradores, para el desarrollo de los contratos
            suscritos u órdenes de servicio y/o compra emitidas, hasta su terminación.</p>
        <p>• Gestión de sanciones, amonestaciones, llamadas de atención, exclusiones por incumplimiento a los contratos
            suscritos.</p>
        <p>• Verificación del pago de salarios y prestaciones sociales de los Contratistas y Proveedores y de sus
            colaboradores.</p>
        <p>• Verificación de cumplimiento de normas de salud y seguridad en el trabajo y medio ambiente – SSTA.</p>
        <p>• Verificación de cumplimiento de las normas que rigen la Protección de Datos Personales.</p>
        <p>• Cesión y/o compraventa de información personal, para el ofrecimiento de bienes y/o servicios de terceras
            personas naturales y/o jurídicas, aliados estratégicos y/o para fines estadísticos y de análisis de
            mercados.</p>
        <p>• Creación y administración de usuarios y contraseñas para el ingreso a los diferentes aplicativos, equipos
            tecnológicos y de cómputo del Responsable del Tratamiento.</p>

        <br><br><br>
        <h5>6.5. FINALIDADES PARA EL TRATAMIENTO DE DATOS PERSONALES DE ACCIONISTAS</h5>
        <p>• Convocatoria a asambleas.</p>
        <p>• Envío de información relacionada con las actividades propias del Responsable del Tratamiento.</p>
        <p>• Garantizar el efectivo ejercicio de los derechos de los accionistas.</p>
        <br><br><br>
        <h5>6.6. FINALIDADES PARA EL TRATAMIENTO DE DATOS PERSONALES DE MIEMBROS DE JUNTA DIRECTIVA</h5>
        <p>• Elección de miembros principales y suplentes.</p>
        <p>• Envío de información relacionada con las actividades propias del Responsable del Tratamiento.</p>
        <p>• Convocatoria a Junta Directiva.</p>
        <p>• Pago de honorarios.</p>
        <p>• Verificación de cumplimiento de requisitos jurídicos y técnicos</p>
        <p>• Verificación de referencias</p>

        <br><br><br>
        <h4>7. DERECHOS DE LOS TITULARES</h4>
        <p>Son derechos de los Titulares de Datos Personales, los siguientes:</p>
        <br><br>
        <p>• Conocer, actualizar y rectificar sus datos personales frente a los Responsables del Tratamiento o
            Encargados del Tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos,
            incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o
            no haya sido autorizado. </p>
        <p>• Solicitar prueba de la autorización otorgada al Responsable del Tratamiento salvo cuando expresamente se
            exceptúe como requisito para el Tratamiento, de conformidad con lo previsto en el artículo 10 de la Ley 1581
            de 2012. </p>
        <p>• Ser informado por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud, respecto
            al uso que les ha dado a sus datos personales. </p>
        <p>• Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la Ley
            1581 de 2012 y las demás normas que la modifiquen, adicionen o complementen.</p>
        <p>• Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los
            principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando
            la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el Responsable o
            Encargado ha incurrido en conductas contrarias a la Ley 1581 de 2012 y a la constitución. </p>
        <p>• Acceder en forma gratuita a los datos personales que hayan sido objeto de Tratamiento: (i) al menos una vez
            cada mes calendario, y (ii) cada vez que existan modificaciones sustanciales de las Políticas de Tratamiento
            de la información que motiven nuevas consultas. </p>
        <br><br>
        <p>La solicitud de supresión de la información y la revocatoria de la autorización no procederán cuando el
            Titular tenga un deber legal o contractual de permanecer en la base de datos. </p>

        <br><br><br>
        <h4>8. DEBERES DEL RESPONSABLE DEL TRATAMIENTO</h4>
        <br>
        <p>Es deber del Responsable del Tratamiento:</p>
        <br><br>
        <p>• Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del Derecho de Hábeas Data </p>
        <p>• Solicitar y conservar por cualquier medio y en las condiciones previstas en la Ley 1581 de 2012, copia de
            la respectiva autorización otorgada por el Titular. </p>
        <p>• Informar debidamente al Titular sobre la finalidad de la recolección y los derechos que le asisten por
            virtud de la autorización otorgada </p>
        <p>• Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración,
            pérdida, consulta, uso o acceso no autorizado o fraudulento </p>
        <p>• Garantizar que la información que se suministre al Encargado del Tratamiento sea veraz, completa, exacta,
            actualizada, comprobable y comprensible </p>
        <p>• Actualizar la información, comunicando de forma oportuna al Encargado del Tratamiento, todas las novedades
            respecto de los datos que previamente le haya suministrado y adoptar las demás medidas necesarias para que
            la información suministrada a este se mantenga actualizada </p>
        <p>• Rectificar la información cuando sea incorrecta y comunicar lo pertinente al Encargado del Tratamiento </p>
        <p>• Suministrar al Encargado del Tratamiento, según el caso, únicamente datos cuyo Tratamiento esté previamente
            autorizado de conformidad con lo previsto en la Ley 1581 de 2012 </p>
        <p>• Exigir al Encargado del Tratamiento en todo momento, el respeto a las condiciones de seguridad y privacidad
            de la información del Titular </p>
        <p>• Tramitar las consultas y reclamos formulados en los términos señalados en la Ley 1581 de 2012 </p>
        <p>• Adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento de la Ley
            1581 y en especial, para la atención de consultas y reclamos </p>
        <p>• Informar al Encargado del Tratamiento cuando determinada información se encuentra en discusión por parte
            del Titular, una vez se haya presentado la reclamación y no haya finalizado el trámite respectivo </p>
        <p>• Informar a solicitud del Titular sobre el uso dado a sus datos </p>
        <p>• Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de seguridad y
            existan riesgos en la administración de la información de los Titulares </p>
        <p>• Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio</p>
        <br><br><br>
        <h4>9. DEBERES DE LOS ENCARGADOS DEL TRATAMIENTO</h4>
        <br>
        <p>Es deber del Encargado del Tratamiento:</p>
        <br><br>
        <p>• Cumplir en el desarrollo de las actividades contratadas, con la Política de Privacidad y Protección de
            Datos Personales, así como con todos aquellos procedimientos, guías y/o directrices que imparta el
            Responsable del Tratamiento en materia de Protección de Datos Personales. </p>
        <p>• Adoptar, según instrucciones del Responsable del Tratamiento, todas las medidas técnicas, humanas y
            administrativas que sean necesarias para otorgar seguridad a los registros evitando su adulteración,
            pérdida, consulta, uso o acceso no autorizado o fraudulento.</p>
        <p>• Implementar una Política de Protección de Datos Personales que se ajuste a lo dispuesto por las normas que
            regulan la materia.</p>
        <p>• Dar Tratamiento a los Datos Personales conforme a las instrucciones que reciba expresamente del Responsable
            del tratamiento, absteniéndose de usarlos para fines distintos a los contratados.</p>
        <p>• Abstenerse de suministrar, ceder o comercializar los Datos Personales con terceras personas naturales o
            jurídicas, públicas o privadas, salvo que la misma sea de naturaleza pública sin sujeción a reserva, o sea
            requerida por una autoridad competente en el ejercicio de sus funciones legales.</p>
        <p>• Guardar estricta confidencialidad respecto de los datos de carácter personal a que tuvieran acceso en
            ejercicio de las actividades contratadas, así como a cumplir diligentemente el deber de guardia y custodia
            sobre los mismos durante todo el término vigencia del contrato y aún después de producida la terminación.
        </p>
        <p>• Acceder o consultar la información o Datos Personales que reposen en las Bases de Datos del Responsable del
            Tratamiento únicamente cuando sea estrictamente necesario para el ejercicio de las actividades contratadas.
        </p>
        <p>• Reportar al Responsable del Tratamiento de manera inmediata a su materialización o al momento en que
            llegaren a su conocimiento, por los conductos y medios establecidos por este, cualquier incidente o amenaza
            de incidente que afecte o pueda llegar a afectar directa o indirectamente la protección de datos personales.
        </p>
        <p>• Garantizar en todo tiempo, el pleno y efectivo ejercicio del el Derecho de Hábeas Data de los Titulares,
            así como el debido proceso en caso de presentarse PQR´s en materia de Protección de Datos Personales.</p>
        <p>• Realizar oportunamente la actualización, rectificación o supresión de los datos en los términos de la Ley
            1581 de 2012.</p>
        <p>• Actualizar la información reportada por el Responsable del Tratamiento, dentro de los cinco (5) días
            hábiles contados a partir de su recibo.</p>
        <p>• Adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento de la Ley
            1581 de 2012 y, en especial, para la atención de consultas y reclamos por parte de los Titulares.</p>
        <p>• Abstenerse de circular información que esté siendo controvertida por el Titular y cuyo bloqueo haya sido
            ordenado por la Superintendencia de Industria y Comercio.</p>
        <p>• Permitir el acceso a la información únicamente a las personas que pueden tener acceso a ella.</p>
        <p>• Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio.</p>
        <p>• En caso de recolectar datos por cuenta del Responsable de Tratamiento, requerir la autorización de los
            Titulares, en los casos en los que se requiera, conforme a lo dispuesto por la Ley 1581 de 2012, y demás
            normas que la complementen, sustituyan, modifiquen o deroguen.</p>


        <br><br><br>
        <h4>10. PERSONA O ÁREA ENCARGADA DE LA ATENCIÓN DE PQR’s</h4>
        <br>
        <p>La persona o área responsable de la atención de peticiones, consultas y reclamos ante la cual el Titular de
            la información puede ejercer sus derechos a conocer, actualizar, rectificar y suprimir el dato y revocar la
            autorización, será la Subgerencia Administrativa, o el cargo que haga sus veces, quien ejercerá las
            funciones de Oficial de Protección de Datos Personales.</p>

        <br><br><br>
        <h4>11. PROCEDIMIENTO PARA QUE LOS TITULARES DE LA INFORMACIÓN PUEDAN EJERCER LOS DERECHOS</h4>
        <p>Los Titulares o aquellas personas que se encuentren legitimadas por normas vigentes, pueden presentar
            Peticiones, Consultas y Reclamos a través de los siguientes canales, establecidos por el Responsable del
            Tratamiento para la atención de PQR’s:</p>
        <br>
        <table class="table table-bordered" style="width: 500px;height: 50px;margin-left: 30px;">
            <tbody>
                <tr>
                    <td>Correo electrónico</td>
                    <td>solicitudes@almacenelectrohogar.com</td>
                </tr>

            </tbody>
        </table>
        <br>
        <p>Las siguientes, son las personas facultadas para presentar PQR´s, conforme a lo dispuesto por el artículo
            2.2.2.25.4.1. del Decreto 1074 de 2015:</p>
        <br><br>
        <p>• El Titular, quien deberá acreditar su identidad en forma suficiente.</p>
        <p>• Los causahabientes del Titular, quienes deberán acreditar tal calidad.</p>
        <p>• El representante y/o apoderado del Titular, previa acreditación de la representación o apoderamiento.</p>
        <p>• Por estipulación a favor de otro o para otro, siempre que medie la aceptación por parte del Titular, de lo
            cual, se deberá presentar constancia en la solicitud.</p>
        <br><br>
        <p>Los derechos de los Niños, Niñas o Adolescentes se ejercerán por las personas que estén facultadas para
            representarlos.</p>

        <p>Las peticiones serán resueltas dentro del término establecido en la Ley 1755 de 2015, y las consultas y
            reclamos, dentro de los términos establecidos en las Leyes 1266 de 2008 y 1581 de 2012, o aquellas que las
            sustituyan, modifiquen o deroguen. </p>

        <br><br><br>
        <h4>12. VIGENCIA</h4>
        <br>
        <p>La Presente Política de Privacidad regirá a partir del 08 de noviembre de 2016.
            Las Bases de Datos sujetas a Tratamiento por parte del Responsable del Tratamiento, serán las que se
            inscriban en el Registro Nacional de Bases de Datos y estarán vigentes mientras subsistan las finalidades
            para las cuales se recolectaron los datos y/o el término que establezca la ley.
            El Responsable del Tratamiento se reserva el derecho de modificar en cualquier momento la presente Política
            de Privacidad. En caso de haber cambios sustanciales en el contenido de la misma, en relación con la
            identificación del Responsable del Tratamiento y a la finalidad del Tratamiento de los Datos personales, los
            cuales puedan afectar el contenido de la Autorización, el Responsable del Tratamiento comunicará estos
            cambios al Titular antes de o a más tardar al momento de implementar las nuevas políticas y requerirá una
            nueva autorización cuando el cambio se refiera a la finalidad del Tratamiento.
            
        </p>
        <p>Última modificación: 17 de octubre de 2017.</p>



    </div>
    <br><br><br><br><br>
</div>