<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow p-3 mb-5 bg-body rounded  ">
                <h5>Autorizaciones:</h5>
                <hr>
                <form style="overflow-y: scroll; height: 500px;" >
                    <h6>Autorizacion Data Credito</h6>
                    <div class="col-md-12 ">
                        <div class="form-check form-switch mt-3 border border-1 bg-light ">
                            <input [checked]="false" [(ngModel)]="documentos.dataCredito.autorizacion"
                                name="autorizoDataCredito" class="form-check-input check conti" type="checkbox" id=""
                                disabled>
                            <p>Autorizo de manera previa, expresa, informada e inequívoca a GMJ HOGAR S.A.S., o a quien represente sus derechos, 
                                u ostente en el futuro la calidad de acreedor de las obligaciones a cargo del cliente, para consultar, 
                                analizar el riesgo crediticio, realizar reportes positivos y/o negativos, procesar, solicitar y divulgar toda información referente a mi comportamiento comercial, 
                                financiero y crediticio, manejo de cuenta (s) corriente (s) bancaria (s) y en general, cumplimiento de obligaciones, ante cualquier operador de información, 
                                incluyendo, pero sin limitarse a: i) centrales de riesgo legalmente constituidas 
                                ii) agencias de información comercial y, iii) demás administradoras de bases de datos comerciales, financieras y crediticias. 
                                La presente autorización se extiende a las operadoras de información.
                            </p>
                        </div>
                        <label for=""><b>Fecha Autorizacion: {{documentos.dataCredito.fecha}}</b></label>
                    </div>
                    <hr>
                    <h6>Autorizacion Datos Personales</h6>
                    <div class="col-md-12 ">
                        <div class="form-check form-switch mt-3 border border-1 bg-light">
                            <input [checked]="false" [(ngModel)]="documentos.datosPersonales.autorizacion"
                                name="autorizoDatosPersonales" class="form-check-input check conti" type="checkbox"
                                id="" disabled>
                            <p>Autorizo el <a href="" class="tdp">Uso y Tratamiento de Datos Personales</a>
                            </p>
                        </div>
                        <label for=""><b>Fecha Autorizacion: {{documentos.datosPersonales.fecha}}</b></label>
                    </div>
                    <hr>
                    <h5>Determinacion Credito:</h5>
                    <hr>
                    <div class="col-md-10 offset-md-1 ">
                        <label for="">Seleccione el Nuevo Estado del Credito</label>
                        <select  id="" class="form-control mt-2 mb-2" [(ngModel)]="determinacion.estado" name="estado">
                            <option value="" selected>Seleccione:</option>
                            <option value="pre-aprobado">Pre-Aprobado</option>
                            <option value="no-pre-aprobado">No Pre-Aprobado</option>
                            <option value="datos-incompletos">Datos Incompletos</option>
                        </select>
                    </div>

                    <div class="col-md-10 offset-md-1">
                        <label for="">Ingrese las Observaciones (razones de la no aprobacion, documentos incompletos,
                            etc.)</label>
                        <textarea  [(ngModel)]="determinacion.observacion" name="observacion" class="form-control mt-2 mb-2" id="" cols="30" rows="10"></textarea>
                    </div>
                    
                    <br>
                    <br>
                </form>
                <hr>
                <div class="col-md-3 offset-md-10 mt-1">
                    
                    <button (click)="guardarDatosAnalizador()" class="btn btn-success conti">Guardar
                        Credito</button>

                </div>
            </div>
        </div>
    </div>
</div>