<div class="row">
    <div class="col-md-10 col-sm-10 col-xs-10 offset-md-1 shadow-sm  mb-5 bg-body rounded border border-1 p-3">
        <h5>Datos del Codeudor:</h5>
        <br>
        <form action="" class="row g-3">
            <div class="col-md-4">
                <label for="" class="form-label">Nombres: </label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Apellidos: </label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Cedula Ciudadania: </label>
                <input type="number" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Estado Civil: </label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Direccion: </label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Celular: </label>
                <input type="tel" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Email: </label>
                <input type="email" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Empresa donde Labora: </label>
                <input type="tex" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Direccion Empresa: </label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Cargo: </label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Tiempo en el Cargo (meses): </label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Salario (mensual): </label>
                <input type="number" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Otros ingresos (fuente): </label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Valor Otros Ingresos (cantidad): </label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Tipo de Vivienda</label>
                <select name="" id="" class="form-control">
                    <option value="">Seleccione</option>
                    <option value="propia">Propia</option>
                    <option value="arriendo">Arriendo</option>
                </select>
                
            </div>
            <div *ngIf=""></div>
            <div class="col-md-4">
                <label for="" class="form-label">Valor Alquiler</label>
                <input type="number" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Nombre Propietario</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Telefono</label>
                <input type="number" class="form-control">
            </div>
            <div *ngIf=""></div>
            <div class="col-md-3">
                <label for="" class="form-label">Nombre Conyuge</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="" class="form-label">Empresa donde Trabaja</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="" class="form-label">Direccion</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="" class="form-label">Telefono</label>
                <input type="number" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Nombre Pariente</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Direccion</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Telefono</label>
                <input type="tel" class="form-control">
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 offset-md-8 col-sm-3  offset-sm-9">
                    <button [routerLink]="'/solicitud-credito/'+solicitudId+'/comprador'" class="btn btn-primary conti me-2">Regresar</button>
                    <button [routerLink]="'/solicitud-credito/'+solicitudId+'/referencias-comerciales'" class="btn btn-primary conti">Guardar y Continuar</button>
                </div>
            </div>
        </form>

    </div>
</div>